<!-- MAIN PAGE -->
<div class="header-container">
  <div class="main-header">
    <div >
      <h1>BEN JARDINE</h1>
    </div>
  </div>
  <div>
    <a href="#">
      <span class="bottom"></span>
    </a>
  </div>
  <div class="video">
    <video autoplay muted loop id="myVideo">
      <source src="https://res.cloudinary.com/dgpvllidz/video/upload/v1610639225/london_riverThames_eye_ben_k9ccdt.mp4" type="video/mp4">
    </video>
  </div>
<!-- Text Scroller -->
    <div class="content">
      <div class="content__container">
        <ul class="content__container__list">
          <li class="content__container__list__item">Full Stack Developer</li>
          <li class="content__container__list__item">Front End Designer</li>
          <li class="content__container__list__item">Mathematics Graduate</li>
        </ul>
      </div>
    </div>
    </div>


<!-- ABOUT ME SECTION -->

<div class="row separater">
</div>

<div class="about-container">
  <div class="about-header">
   <h1> A BIT ABOUT BEN </h1>
  </div>


      <div class="tech-skills-container">
          <div class="tech-skills">
            <div class="icons-row">
              <i class="devicon-ruby-plain blue-icon"></i>
              <i class="devicon-rails-plain-wordmark blue-icon"></i>
              <i class="devicon-css3-plain-wordmark blue-icon"></i>
              <i class="devicon-html5-plain-wordmark blue-icon"></i>
            </div>
            <div class="icons-row">
              <i class="devicon-javascript-plain blue-icon"></i>
              <i class="devicon-bootstrap-plain blue-icon"></i>
              <i class="devicon-postgresql-plain-wordmark blue-icon"></i>
              <i class="devicon-git-plain blue-icon"></i>
            </div>
            <div class="icons-row">
              <i class="devicon-github-plain blue-icon"></i>
              <i class="devicon-heroku-plain-wordmark blue-icon"></i>
              <i class="devicon-webpack-plain blue-icon"></i>
              <i class="devicon-yarn-plain blue-icon"></i>
            </div>
          </div>
      </div>

</div>







