  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">About me</a>
        <a class="nav-item nav-link" href="#">My Projects</a>
      </div>
    </div>
  </nav>


<div class="container">
  <div class="row">

    <div class="col-12 col-lg-8 left-side">
      <div class="tech-skills-container">
        <h2>My Tech Skillset</h2>
        <div class="tech-border">
          <div class="tech-skills justify-content-center">
            <div class="icons-row">
              <i class="devicon-ruby-plain blue-icon"></i>
              <i class="devicon-rails-plain-wordmark blue-icon"></i>
              <i class="devicon-css3-plain-wordmark blue-icon"></i>
              <i class="devicon-html5-plain-wordmark blue-icon"></i>
            </div>
            <div class="icons-row">
              <i class="devicon-javascript-plain blue-icon"></i>
              <i class="devicon-bootstrap-plain blue-icon"></i>
              <i class="devicon-postgresql-plain-wordmark blue-icon"></i>
              <i class="devicon-git-plain blue-icon"></i>
            </div>
            <div class="icons-row">
              <i class="devicon-github-plain blue-icon"></i>
              <i class="devicon-heroku-plain-wordmark blue-icon"></i>
              <i class="devicon-webpack-plain blue-icon"></i>
              <i class="devicon-yarn-plain blue-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 right-side">
      <h1>right</h1>
    </div>

  </div>
</div>
